<!DOCTYPE html>
<html>
<head>
	<title>University X : Admin</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">  
</head>
<body>
	<header>
  <nav class="navbar navbar-light navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" mb-0 h1>
    <img src="logo.jpg" width="30" height="30" alt="">
  University X : Admin</a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                         <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item col-3"><a class="nav-link" href="/make_admin">Make Admin</a></li>
                        <li class="nav-item col-3"><a class="nav-link" href="/create_id">Create ID</a></li>
                        <li class="nav-item col-3"><a class="nav-link" href="/delete_id">Delete ID</a></li>
                        <li class="nav-item col-2"><a class="nav-link" href="/viewtables">View</a></li>
                        
                        <li class="nav-item"><form action="/logout" method = "POST"> <button type = "submit"> LogOut</button> </form></li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br><br>
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-4 col-sm-4"><img src="logo.jpg" width="250" height="250"></div>
                <div class="col-8 col-sm-8">
                    <h1>University X : Admin</h1>
                    <h3>Welcome Admin!!</h3>
                    <p>University X is one of the best institutes of the country with exceptional standards of education and research . Make your career brighter with one of the best institutes of the country .</p>
                </div>
                <div class="col-12 col-sm">
                </div>
            </div>
        </div>
    </header>
    <div class="container" >
        <p>You as Admin of University X database have one of the most important roles in order for this data base to work properly. As admin you are allowed to:
            <ul>
                <li><a href="/membersofcollege">Members Of College</a></li>
                <li><a href="/student">Student</a></li>
                <li><a href="/course">Course</a></li>
                <li><a href="/Department">Department</a></li>
                <li><a href="/faculty">Faculty</a></li>
            </ul></p>
    </div>
<!-- <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
</body>
</html>